ul {
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: #798897;
    color: white;
    z-index: 100;
}

ul:first-child {
    margin-top: 5px;
}

li {
    list-style: none;
    font-size: 14px;
    width: 100%;
    cursor: pointer;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #798897;

    /* background-color: red; */
}

li:hover {
    background-color: #F9F871;
    color: #798897;
    text-decoration: none;
}

button:hover {
    background-color: #F9F871;
    color: #798897;
    text-decoration: none;
}

.dropButton button {
    /* color: red; */
    height: 100%;
    display: flex;
    align-items: center;
}

.arrowContainer {
    width: 9px;
}

img {
    padding-left: 5px;
    width: 100%;
}