.menu-banner {
    width: 100%;
    background-color: darkolivegreen;
    display: flex;
    margin-bottom: 15px;
}

.menu-banner h1 {
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
}

button {
    /* padding: 30px; */
    color: white;
    background-color: darkolivegreen;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    padding: none;
}

button:hover {
    color: #00C8ED;
    outline: none;
}

button:focus {
    outline: none;
}