.node {
    height: 25px;
    width: 25px;
    border: 1px solid #798897;
    background-color: white;
}

.node:hover {
    border: 1px solid #00A6B7;
}

.node-start {
    background-color: #89B100;
    border: 1px solid #89B100;
}

.node-end {
    background-color: #DC143C;
    border: 1px solid #DC143C;

}

.node-wall {
    background-color: #574240;
    border: 1px solid #574240;
}

.node-visited {
    animation-name: visitedAnimation;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-delay: 0.1s;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes visitedAnimation {
    0% {
        background-color: #DC143C;
        border-radius: 10%;
    }
    5% {
        transform: scale(0.3);
        background-color: #F7FBEC;
    }
    75% {
        transform: scale(1.2);
        background-color: #c1caab;
    }
    100% {
        transform: scale(1);
        background-color: #F3EED9;
        border: 1px solid #F3EED9;
    }
}

.node-shortest-path {
    animation-name: shortestPath;
    animation-duration: 0.1s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes shortestPath {
    0% {
        transform: scale(0.6);
        background-color: #f8c1c3;
    }
    50% {
        transform: scale(1.2);
        background-color: #f8c1c3;
    }
    100% {
        transform: scale(1);
        background-color:#f8c1c3;
        border: 1px solid #f8c1c3;
    }
}